<div class="header-container">
  <button id="toggleFiltersBtn" class="buton_filter" (click)="toggleFilters()">
    <b>Filtrează</b>
    <i class="fa fa-filter" aria-hidden="true"></i>
  </button>
</div>

<div class="filter-box">
  <div class="filter" [ngClass]="{ 'show': areFiltersVisible }">
    <button class="buton_filter" (click)="getProductsList()">Toate</button>
    <button class="buton_filter" (click)="getProductsListByCategoryId(1)">
      <i class="fa-solid fa-gamepad"></i>
    </button>
    <button class="buton_filter" (click)="getProductsListByCategoryId(2)">
      <i class="fa-solid fa-glasses"></i>
    </button>
    <button class="buton_filter" (click)="getProductsListByCategoryId(3)">
      <i class="fa-solid fa-briefcase"></i>
    </button>
  </div>
</div>

<div class="product">
    <ul>
        <li class="product-item" *ngFor="let item of productsList">
            <a [routerLink]="['/product-page', item.id]">
                <img src="./assets/images/{{item.imagePath1}}" alt="product_image">
            </a>
            <div class="details">
            <h3 class="pret_produs">Preț: {{item.price}} lei</h3>
          <div class="quantity-wrapper">
            <div class="minus" (click)="decreaseQuantity(selectedQuantity)">
              <i class="fas fa-minus"></i>
            </div>
            <div class="quantity-container">
              <input #selectedQuantity type="number" class="quantity-input" [value]="1" min="1">
            </div>
            <div class="plus" (click)="increaseQuantity(selectedQuantity)">
              <i class="fas fa-plus"></i>
            </div>
          </div>
            <button class="button_product"
                (click)="addProductInShoppingCart(shoppingCartId, item.id, selectedQuantity.valueAsNumber)">Adaugă în coș
            </button>
            </div>
        </li>
        <div class="cart-button" id="cartButton">
          <a href="shopping-cart">
              <fa-icon [icon]="faCartShopping"></fa-icon>Coș</a>
          <span id="cartItemCount">{{ cartCounter }}</span>
      </div>
    </ul>
</div>
