/* Container pentru butonul Înapoi și butonul Filtrează */
.header-container {
  display: flex;            /* Activează flexbox */
  align-items: center;      /* Centrează vertical elementele */
  justify-content: center;  /* Centrează pe orizontală */
  margin-top: 20px;         /* Spațiere de sus */
  padding: 0 20px;          /* Adaugă padding lateral */
  position: relative;       /* Permite poziționare relativă pentru elemente copil */
}

/* Butonul Filtrează - Centrat */
#toggleFiltersBtn {
  background-color: black;
  color: rgb(44, 194, 149);
  border: 1.5px solid rgb(9, 85, 68);
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#toggleFiltersBtn:hover {
  background-color: rgb(241, 247, 246);
  color: black;
}


.filter-box {
  display: flex;
  flex-direction: column; /* Aliniază filtrele vertical */
  align-items: center;    /* Centrează pe orizontală */
  width: 100%;
  padding: 10px 0;
}


.filter {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  gap: 10px;
}

.filter.show {
  max-height: 100px;
  transition: max-height 0.3s ease-in;
}

.buton_filter {
  background-color: black;
  color: rgb(44, 194, 149);
  border: 1.5px solid rgb(9, 85, 68);
  padding: 8px 16px;
  margin: 5px 0;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buton_filter i {
  margin-left: 0;
}


.buton_filter:hover {
  background-color: rgb(241, 247, 246);
  color: black;
}
.product{
  padding: 20px;
  margin:20px;
}
.product ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 30px;
    list-style: none; 
    padding: 20px; 
    margin: 0 auto; 
    max-width: 1100px; 
}

/* Fiecare produs individual */
.product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Efect de umbră */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px; /* Spațiere în interiorul cardului */
}

.product-item:hover {
    transform: scale(1.05);
    box-shadow:  inset 0 -3em 3em rgba(0,0,0,0.2),
      0 0  0 4px #2CC295,
      0.3em 0.3em 1em rgba(0,0,0,0.4);}

/* Imaginea produsului */
.product-item img {
    width: 250px;
    height: 250px;
    object-fit: cover; /* Asigură că imaginea acoperă containerul */
    border-radius: 10px; /* Colțuri rotunjite */
    margin-bottom: 10px; /* Spațiere sub imagine */
}
.quantity-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.minus, .plus {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px; /* ajustați pentru a obține spațierea dorită */
  color: rgb(44,194,149); /* culoarea butoanelor */
}

.quantity-container {
  background: black;
  border: 0.5px solid rgb(9,85,68);
  width: 40px;
  text-align: center;
}

.quantity-input {
  color: rgb(44,194,149);
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 15px;
}

/* Ascunde săgețile pentru Webkit (Chrome, Safari, Opera) */
.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Prețul produsului */
.pret_produs {
    display: block;
    color: rgb(241,247,246);
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Butonul produsului */
.button_product {
    background-color: black;
    color: rgb(44, 194, 149);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button_product:hover {
    background-color: rgb(44, 194, 149);
    color: white;
    transform: scale(1.1);
}

#cartButton {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: black;
    border: 1px solid rgb(9,85,68);
    color: rgb(44,194,149);
    padding: 15px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

#cartButton a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(44,194,149);
  text-decoration: none;
}

#cartItemCount {
  position: absolute;
  top: -4px;
  right: -4.5px;
  background-color: rgb(9,85,68);
  color: rgb(241,247,246);
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 50%;
}

#cartButton:hover {
  background-color: rgb(58, 58, 58);
}


/* Responsive Design */
@media only screen and (max-width: 768px) {
  .product{
    margin:20px;
    padding: 20px;
  }
    .product ul {
        grid-template-columns: repeat(2, 1fr); /* Afișează 2 produse pe rând */
        padding: 10px; /* Micșorează paddingul */
    }

    .product-item {
        padding: 10px; /* Reduce spațierea cardurilor */
    }
    .product-item img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 10px; /* Colțuri rotunjite */
      margin-bottom: 10px; /* Spațiere sub imagine */
  }
  .filter{
    margin-top: 10px;
  }
  #cartButton{
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 480px) {
    .product ul {
        grid-template-columns: 1fr; /* Afișează un produs pe rând */
    }
}
