<div class="product-page">

  <div class="product-container" *ngIf="product">

    <div class="product-images">

      <img [src]="'./assets/images/' + mainImage" alt="product_image" class="main-product-image">

      <div class="image-gallery">
        <img [src]="'./assets/images/' + product.imagePath1" alt="product_image_small" (click)="changeMainImage(product.imagePath1)">
        <img [src]="'./assets/images/' + product.imagePath2" alt="product_image_small" (click)="changeMainImage(product.imagePath2)">
        <img [src]="'./assets/images/' + product.imagePath3" alt="product_image_small" (click)="changeMainImage(product.imagePath3)">
      </div>
    </div>

    <div class="details-product">
      <h2 class="titlu-produs">{{product.name}}</h2>

      <h3 class="pret_produs"><b>Preț:</b> {{product.price}} lei</h3>

      <div class="quantity-wrapper">
        <div class="minus" (click)="decreaseQuantity(selectedQuantity)">
          <i class="fas fa-minus"></i>
        </div>
        <div class="quantity-container">
          <input #selectedQuantity type="number" class="quantity-input" [value]="1" min="1">
        </div>
        <div class="plus" (click)="increaseQuantity(selectedQuantity)">
          <i class="fas fa-plus"></i>
        </div>
      </div>

      <p class="description-product">{{product.shortDescription}}</p>

      <button class="button_product" (click)="addProductInShoppingCart(shoppingCartId, product.id, selectedQuantity.valueAsNumber)">
        Adaugă în coș
      </button>

    </div>

  </div>


  <div class="cart-button" id="cartButton">
    <a href="shopping-cart">
      <fa-icon [icon]="faCartShopping"></fa-icon>Coș</a>
    <span id="cartItemCount">{{ cartCounter }}</span>
  </div>

</div>